[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=X_PostSettings
Exec=/usr/local/bin/xpostsettings.sh
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false
